html
    head
        meta(charset="utf-8")
        title Subtekstoj

        block styles
            link(rel="stylesheet", href="/public/vendor/milligram.min.css")
            link(rel="stylesheet", href="/public/css/main.css")
    body
        block body

        block scripts